<title>Cine Plix | Sign In</title>


{% extends 'base.html' %}
{% block body_block %}
{% load bootstrap4 %}
{% load static %}



<div class="container">
  <br><br><br><br>
  <div class="login-form demo_wrap">
  </div>


  <br>
  <div class="form-login ">
    <h1>Sign In</h1>
    <br>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-default" value="Login">
    </form>

  </div>
</div>

<style>
  body {
    background-image: url("{% static 'images\kings.jpg' %}");
    background-position: center;
  }


  .login-form {
    background-color: #ebebeb;
    position: relative;
    margin: auto;
    padding: 50px;
    width: 50%;
    height: 480px;
    opacity: 0.7;
  }

  .form-login {
    position: relative;
    color: rgb(0, 0, 0);
    z-index: 2;
    width: 480px;
    bottom: 415px;
    left: 315px;

  }
</style>


{% endblock  %}